	#titulo{
		color: white;
		font-family:  'Mr Dafoe', cursive;
		text-align: center;
		vertical-align: middle;
		line-height: 500px;
		font-size: 500%;
		
	}
	
	#portada { 
		
		margin: 0;
		background: url('cuadrofondo.JPG');
		background-position: center;
		background-size: 100% auto;
		background-repeat: no-repeat;
		background-color: #c18c60;
		color: white;
		text-align: center;
	}
	
	#textopoesia{
		text-align: center;
	}
	
	#textorelato{
		margin-left: 5em;
		margin-right: 5em;
	}
	
	#pestaña{
		color: white;
	}
	
	#button{
		text-align: center;
		margin-bottom: 10em;
	}
	
	#cuadro{
		display: block;
		width: 100%;
	}
	.galeria{
		display: block;
		width: 100%;
	}
	
	#indicerelatos{
		width: 100%;
		text-align: center;
		position: absolute;
		bottom: 0px;
	}

	h1{
		color: black;
		font-family: serif;
		text-align: center;
	}
	
	h2{
		color:black;
		font-family: serif;
		text-align: center;
	}
	
	#comentarios{
		margin-left: 5em;
		margin-right: 5em;
	}
	

	body{
		background-color:#ff8b51;
		/*#FBF191*/
		/*#97D9BA;*/
	}

	a{
		color: black;
		font-weight: bold;
	
	}
	
	.nav-tabs > li > a:hover{
		background-color: #ea653c !important;
	}
	.nav-tabs > li.active > a{
		background-color: #ea653c !important;  
	}
	
	p {
		font-weight: bold;
	}
