<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
	</head>
	<body class= "bodylibro">
		<div th:include="base :: copy"></div>
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<ul class="nav nav-tabs">
						<li role="presentation"><a href="/" id="pestaña">Home</a></li>
						<li role="presentation"><a href="/galeria" id="pestaña">Galería de arte</a></li>
						<li role="presentation"><a href="/poesias" id="pestaña">Poesías</a></li>
						<li role="presentation"><a href="/relatos" id="pestaña">Relatos</a></li>
						<li role="presentation" class="active"><a href="/canciones" id="pestaña">Canciones</a></li>
						<li role="presentation"><a href="/librodevisitas" id="pestaña">Libro de visitas</a></li>
					</ul>
				</div>
			</div>
		</div>
		<br/>
		<h2 style='text-align:center'>Tangos</h2>
		<div style='text-align:center'>
			<iframe width="50%" height="400" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/337001614&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
		</div>
		<br/>
		<h2 style='text-align:center'>Boleros</h2>
		<div style='text-align:center'>
			<iframe width="50%" height="400" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/337008899&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
		</div>
		<br/>
		<h2 style='text-align:center'>Varios</h2>
		<div style='text-align:center'>
			<iframe width="50%" height="400" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/337009203&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
		</div>
		<br/>
	</body>
</html>