<html xmlns:th="http://www.thymeleaf.org">

	<body>
		<div th:include="base :: copy"></div>
		<div class="container">
    	<div class="row">
		<div class="col-md-12">
		<ul class="nav nav-tabs">
 			<li role="presentation"><a href="/" id="pestaña">Home</a></li>
  			<li role="presentation"  class="active"><a href="/galeria" id="pestaña">Galería de arte</a></li>
  			<li role="presentation"><a href="/poesias" id="pestaña">Poesías</a></li>
  			<li role="presentation"><a href="/relatos" id="pestaña">Relatos</a></li>
  			<li role="presentation"><a href="/canciones" id="pestaña">Canciones</a></li>
		</ul>
		</div>
		</div>
		</div>
		<br/>
		<p>Aqui van fotos</p>
	</body>
</html>