<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<link href="https://fonts.googleapis.com/css?family=Mr+Dafoe" rel="stylesheet"/>

	</head>
	<body id= "portada">
		<div th:include="base :: copy"></div>
		<div class="container">
    	<div class="row">
		<div class="col-md-12">
		<ul class="nav nav-tabs">
 			<li role="presentation" class="active"><a href="/" id="pestaña">Home</a></li>
  			<li role="presentation"><a href="/galeria" id="pestaña">Galería de arte</a></li>
  			<li role="presentation"><a href="/poesias" id="pestaña">Poesías</a></li>
  			<li role="presentation"><a href="/relatos" id="pestaña">Relatos</a></li>
  			<li role="presentation"><a href="/librodevisitas" id="pestaña">Libro de visitas</a></li>
		</ul>
		</div>
		</div>
		</div>
		<div id="titulo"> Ricardo Boix </div>
	</body>
</html>